/* Import external stylesheets */
@import url("https://use.typekit.net/jtg8msg.css");
@import url("https://cdn.jsdelivr.net/npm/@undp/design-system/docs/css/base-minimal.min.css");
@import url("https://cdn.jsdelivr.net/npm/@undp/design-system/docs/css/components/footer.min.css");
@import url("https://cdn.jsdelivr.net/npm/@undp/design-system/docs/css/components/accordion.min.css");
@import url("https://cdn.jsdelivr.net/npm/@undp/design-system/docs/css/components/author-card.min.css");
@import url("https://cdn.jsdelivr.net/npm/@undp/design-system/docs/css/components/author-summary.min.css");
@import url("https://cdn.jsdelivr.net/npm/@undp/design-system/docs/css/components/author-column.min.css");
@import url("https://cdn.jsdelivr.net/npm/@undp/design-system/docs/css/components/cta-link.min.css");
@import url("https://cdn.jsdelivr.net/npm/@undp/design-system/docs/css/components/content-card.min.css");
@import url("https://cdn.jsdelivr.net/npm/@undp/design-system/docs/css/components/download-card.min.css");
@import url("https://cdn.jsdelivr.net/npm/@undp/design-system/docs/css/components/featured-content-card.min.css");
@import url("https://cdn.jsdelivr.net/npm/@undp/design-system/docs/css/components/image-revel-cta-card.min.css");
@import url("https://cdn.jsdelivr.net/npm/@undp/design-system/docs/css/components/country-site-header.min.css");
@import url("https://cdn.jsdelivr.net/npm/@undp/design-system/docs/css/components/language-switcher.min.css");
@import url("https://cdn.jsdelivr.net/npm/@undp/design-system/docs/css/components/menu.min.css");
@import url("https://cdn.jsdelivr.net/npm/@undp/design-system/docs/css/components/mega-menu.min.css");
@import url("https://cdn.jsdelivr.net/npm/@undp/design-system/docs//css/components/mobile-nav.min.css");
@import url("https://cdn.jsdelivr.net/npm/@undp/design-system/docs/css/components/menu-overflow.min.css");

:root {
  --blue-100: #b5d5f5;
  --blue-200: #94c4f5;
  --blue-300: #6babeb;
  --blue-400: #4f95dd;
  --blue-500: #3288ce;
  --blue-600: #006eb5;
  --blue-700: #1f5a95;
  --white: #fff;
  --gray-100: #fafafa;
  --gray-200: #f7f7f7;
  --gray-300: #edeff0;
  --gray-400: #d4d6d8;
  --gray-500: #a9b1b7;
  --gray-600: #55606e;
  --gray-700: #232e3d;
  --black: #000;
  --light-yellow: #ffe17e;
  --yellow: #ffeb00;
  --dark-yellow: #fbc412;
  --light-red: #ffbcb7;
  --red: #ee402d;
  --dark-red: #d12800;
  --light-green: #b8ecb6;
  --green: #6de354;
  --dark-green: #59ba47;
  --light-azure: #a2daf3;
  --azure: #60d4f2;
  --dark-azure: #00c1ff;
  --spacing-00: 0;
  --spacing-01: 0.125rem;
  --spacing-02: 0.25rem;
  --spacing-03: 0.5rem;
  --spacing-04: 0.75rem;
  --spacing-05: 1rem;
  --spacing-06: 1.5rem;
  --spacing-07: 2rem;
  --spacing-08: 2.5rem;
  --spacing-09: 3rem;
  --spacing-10: 4rem;
  --spacing-11: 5rem;
  --spacing-12: 6rem;
  --spacing-13: 7rem;
  --sidebar-margin: 7rem;
  --fontFamily: "ProximaNova", "proxima-nova", "Helvetica Neue", "Roboto",
    sans-serif;
  --fontFamilyHeadings: "SohneBreit", "ProximaNova", "proxima-nova",
    "Helvetica Neue", "Roboto", sans-serif;
}

/* Font settings */
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  font-family: "proxima-nova", sans-serif;
}

/* Logo, hide built-in logo elements not to conflict with the custom header */
img.stLogo,
img[data-testid="stLogo"] {
  display: none;
}

header[data-testid="stHeader"] {
  display: none;
}

a:hover {
  text-decoration: none;
  color: var(--gray-700);
}

a[data-testid="stLogoLink"] {
  display: none;
}

.site-title > span > a {
  text-decoration: none;
  color: var(--gray-700);
}

.site-title > span > a:hover {
  text-decoration: none;
}

.country-header .header .menu a {
  text-decoration: none;
  color: var(--black);
}

.country-header .header .menu a:hover {
  text-decoration: none;
  color: var(--gray-600);
}

/* Sidebar, offset from the header and remove background to seamlessly blend in */
section.stSidebar {
  margin-top: var(--sidebar-margin);
  background-color: transparent;
}

/* Sidebar button, align offset when opened and closed */
button[data-testid="stBaseButton-headerNoPadding"] {
  height: 5rem;
  margin-top: 50rem;
}

/* offset by the same margin to align collapsed and opened icons */
section.stSidebar[aria-expanded="true"]
  button[data-testid="stBaseButton-headerNoPadding"] {
  margin-top: calc(50rem - var(--sidebar-margin));
  position: absolute;
}

header.country-header {
  height: 3.1875rem;
}

/* Footer */
footer {
  margin: 1rem -5em -10rem;
}

@media (min-width: 48em) {
  .footer {
    padding: 3.25rem 0 var(--undpds-spacing-09);
  }
  .footer-items {
    flex-direction: row;
  }
}

@media (max-width: 48em) {
  .footer {
    padding: var(--undpds-spacing-12) var(--undpds-spacing-12);
  }
  .footer-logo {
    flex-direction: column;
    vertical-align: center;
  }
  .footer-items {
    margin: 1rem 0 0;
  }
}

/* Code block styling */
code {
  background: var(--gray-200);
  color: rgb(84, 84, 84);
  padding: 0.5em;
}

/* Link styling */
div[data-testid="stMarkdownContainer"] a,
div[data-testid="stMarkdownContainer"] > ul > li > a {
  background-image: linear-gradient(var(--dark-red), var(--dark-red)),
    linear-gradient(var(--dark-red), var(--dark-red));
  background-position: 100% 100%, -30px 100%;
  background-repeat: no-repeat;
  background-size: 100% 2px, 0 1px;
  text-decoration: none;
  color: var(--black);
}

div[data-testid="stMarkdownContainer"] a:hover,
div[data-testid="stMarkdownContainer"] > ul > li > a:hover {
  animation: lineLoop-animation-for-links 2s linear infinite;
  color: var(--black);
}

div[data-testid="stMarkdownContainer"] > ul > li > a:focus-visible {
  box-shadow: 0 0 4px var(--blue-600);
  outline: 0;
}

/* Text color settings */
div[data-testid="stExpander"] > summary,
div[data-testid="stMarkdownContainer"]:hover,
div[data-testid="stMarkdownContainer"] p,
div[data-testid="stMarkdownContainer"] p:hover {
  color: var(--black);
}

/* Blockquote styling */
div[data-testid="stAlert"] {
  border: solid 1px var(--gray-200);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}

div[data-testid="stAlert"] > div {
  background-color: var(--white);
  padding: 2rem 1.5rem;
}

/* Heading styling */
div[data-testid="stHeadingWithActionElements"] > h1 {
  text-transform: uppercase;
  padding-top: 20px;
}

/* Custom component - Breadcrumb */
.undp-breadcrumb {
  display: flex;
  gap: 0.75rem;
  align-items: center;
}

.undp-breadcrumb-light {
  display: flex;
  gap: 0.75rem;
  align-items: center;
}

.undp-breadcrumb a {
  background: none;
  text-decoration: none;
  color: var(--dark-red);
  font-size: 0.75rem;
  font-weight: 600;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  transition: opacity 0.2s ease;
}

.undp-breadcrumb .divider {
  background: none;
  color: var(--dark-red);
  font-size: 0.75rem;
  font-weight: 600;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.undp-breadcrumb a:hover {
  color: var(--red);
}

.undp-breadcrumb span {
  background: none;
  color: var(--gray-700);
  font-size: 0.75rem;
  font-weight: 600;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.undp-breadcrumb-light a {
  background: none;
  color: var(--white);
  font-size: 0.75rem;
  font-weight: 600;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  transition: opacity 0.2s ease;
  text-decoration: none !important;
}

.undp-breadcrumb-light a:hover {
  opacity: 0.7;
}

.undp-breadcrumb-light .divider {
  background: none;
  color: var(--white);
  font-size: 0.75rem;
  font-weight: 600;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  content: "/";
}

.undp-breadcrumb-light span {
  background: none;
  color: var(--white);
  font-size: 0.75rem;
  font-weight: 600;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

/* Custom component - Stat card smaller styling */
.stat-card-smaller {
  padding: 1rem;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 17.5rem;
  background-color: var(--gray-200);
  font-size: 1.25rem;
  color: var(--black);
  transition: 300ms all;
  height: auto !important;
}

.stat-card-smaller:hover {
  background-color: var(--light-yellow);
}

.stat-card-smaller.no-hover:hover {
  background-color: var(--gray-200);
}

.stat-card-smaller h2,
.stat-card-smaller h3 {
  line-height: 1.09;
  text-shadow: none;
  -webkit-text-stroke: 2px var(--black);
  color: var(--gray-200);
  letter-spacing: 0.05rem;
  margin-top: 0;
  margin-bottom: 0;
  font-family: var(--fontFamilyHeadings);
}

.stat-card-smaller h2 {
  font-size: 3rem;
}

.stat-card-smaller h3 {
  font-size: 2.375rem;
}

.stat-card-smaller h4 {
  line-height: 1.15;
  color: var(--black);
  font-size: 1.563rem;
  margin-top: 0;
  margin-bottom: 0;
}

.stat-card-smaller p {
  line-height: 1.15;
  font-size: 1rem;
  margin-top: 0;
  margin-bottom: 1rem;
}

.stat-card-smaller:hover h2,
.stat-card-smaller:hover h3 {
  color: var(--black);
}

.stat-card-smaller.no-hover:hover h2,
.stat-card-smaller.no-hover:hover h3 {
  color: var(--gray-200);
}

@media (max-width: 48em) {
  .stats-card-smaller.small h2 {
    font-size: 4.375rem;
  }

  .stats-card.small h3 {
    font-size: 3.5rem;
  }
}

/* Form boundary styling */
div[data-testid="stForm"] {
  border-radius: 0;
  border: solid 1px var(--black);
}

/* Button base styling */
div[data-testid="stButton"] > button,
button[data-testid="stBaseButton-secondary"],
button[data-testid="stBaseButton-secondaryFormSubmit"],
button[data-testid="baseButton-primaryFormSubmit"],
button[data-testid="baseButton-secondaryFormSubmit"],
button[data-testid="stBaseButton-primaryFormSubmit"] {
  border-radius: 0px;
  align-items: center;
  border: none;
  display: flex;
  font-family: "proxima-nova", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0.03em;
  line-height: 1;
  text-transform: uppercase;
  cursor: pointer;
  justify-content: center;
  padding: 1rem 1.5rem;
  margin: 0 !important;
  border-radius: 0;
}

/* Primary button styling */
button[data-testid="stBaseButton-primary"] > div > p,
button[data-testid="stBaseButton-primaryFormSubmit"] > div > p {
  color: white;
}

button[data-testid="stBaseButton-primary"],
button[data-testid="stBaseButton-primaryFormSubmit"] {
  background-color: var(--dark-red);
  color: white;
}

button[data-testid="stBaseButton-primary"]:hover,
button[data-testid="stBaseButton-primaryFormSubmit"]:hover,
button[data-testid="baseButton-primaryFormSubmit"]:hover,
button[data-testid="stBaseButton-primary"] > div > p:hover,
button[data-testid="stBaseButton-primaryFormSubmit"] > div > p:hover {
  background-color: var(--red);
  color: white;
}

button[data-testid="stBaseButton-primary"]:focus-visible,
button[data-testid="stBaseButton-primaryFormSubmit"]:focus-visible,
button[data-testid="baseButton-primaryFormSubmit"]:focus-visible,
button[data-testid="stBaseButton-primary"] > div > p:focus-visible,
button[data-testid="stBaseButton-primaryFormSubmit"] > div > p:focus-visible {
  box-shadow: 0 0 4px white;
  outline: 0;
}

/* Secondary button styling */
button[data-testid="stBaseButton-secondary"] > div > p,
button[data-testid="stBaseButton-secondaryFormSubmit"] > div > p {
  color: white;
}

button[data-testid="stBaseButton-secondary"],
button[data-testid="stBaseButton-secondaryFormSubmit"] {
  background-color: var(--blue-600);
  color: white;
}

button[data-testid="stBaseButton-secondary"]:hover,
button[data-testid="stBaseButton-secondary"] > div > p:hover,
button[data-testid="stBaseButton-secondaryFormSubmit"]:hover,
button[data-testid="stBaseButton-secondaryFormSubmit"] > div > p:hover,
button[data-testid="baseButton-secondaryFormSubmit"]:hover {
  background-color: var(--blue-500);
  color: white;
}

button[data-testid="stBaseButton-secondaryFormSubmit"] > div > p:focus-visible,
button[data-testid="baseButton-secondaryFormSubmit"]:focus-visible,
button[data-testid="stBaseButton-secondaryFormSubmit"]:focus-visible,
button[data-testid="stBaseButton-secondary"] > div > p:focus-visible,
button[data-testid="stBaseButton-secondary"]:focus-visible {
  box-shadow: 0 0 4px white;
  outline: 0;
}

/* Input elements styling */
div[data-testid="stNumberInput"] > div > div,
div[data-testid="stChatInput"],
div[data-testid="stSelectbox"] > div,
div[data-testid="stMultiSelect"] > div,
div[data-testid="stTimeInput"] > div,
div[data-testid="stDateInput"] > div {
  border-radius: 0;
  border: solid 1px var(--black);
}

div[data-testid="stNumberInput"] > div,
div[data-testid="stTimeInput"] > div > div,
div[data-testid="stDateInput"] > div > div,
div[data-testid="stChatInput"] > div > div,
div[data-testid="stSelectbox"] > div > div,
div[data-testid="stMultiSelect"] > div > div > div {
  border-radius: 0;
  border: none;
}

/* Checkbox styling */
div[data-testid="stCheckbox"] > label > span {
  background-color: #ffffff;
  border-color: var(--dark-red);
  background: url(https://design.undp.org/static/media/icon-check.b332b98d.svg)
    no-repeat center center;
}

/* Accordion styling */
div[data-testid="stExpander"] > details {
  border: 0 !important;
  background-color: var(--gray-200) !important;
  margin-bottom: 1rem !important;
}

div[data-testid="stExpander"] > details > summary > svg,
div[data-testid="stExpander"] > details > summary > svg:hover,
div[data-testid="stExpander"] > details > summary > svg:focus-visible {
  color: var(--red);
}

/* Text input styling */
div[data-testid="stTextInput"] > div,
div[data-testid="stTextArea"] > div {
  border-radius: 0;
  border: solid 1px var(--black);
}

/* Slider styling */
div[data-testid="stSlider"] > div > div > div > div {
  background-color: var(--white);
  border: 2px solid var(--dark-red);
  border-radius: 50%;
}

div[data-testid="stSliderThumbValue"] {
  color: var(--black);
}

div[data-testid="stSliderTickBarMin"],
div[data-testid="stSliderTickBarMax"] {
  color: var(--black);
  font-weight: bold;
}

/* AI chat submit button styling */
button[data-testid="stChatInputSubmitButton"] {
  color: var(--dark-red);
}

/* Streamlit line at the top of the page */
#stDecoration {
  display: none;
}
