<!-- Disable data-viewport for author-summary for Streamlit to render it -->
<div class="author-summary" data-viewport="false">
  <div class="author-summary-left">
    <div class="author__img large">
      <img src="{{ src }}" alt="{{ name }}" title="{{ name }}" />
    </div>
    <div class="author-summary-text">
      <h2 class="" tabindex="0" data-viewport="false">{{ name }}</h2>
      <p>{{ title }}</p>
    </div>
  </div>
  <div class="author-summary-right">
    <p>
      {{ summary }}
    </p>
  </div>
</div>