<div class="grid-x grid-margin-x author-card">
    <div class="cell medium-{{ width }}">
        <a href="{{ href }}">
            <div class="author-box">
                <div class="author__img">
                    <img src="{{ src }}" alt="{{ name }}" title="{{ name }}"/>
                </div>
                <div class="author-label">
                    <h6 class="" tabindex="0" data-viewport="false">{{ name }}</h6>
                    <p>{{ title }}</p>
                </div>
            </div>
            <p>
                {{ summary }}
            </p>
            <span class="cta__link cta--space">{{ link }}</span>
        </a>
    </div>
</div>