<div class="grid-x grid-margin-x">
  <div class="cell medium-{{ width }} feature__card image">
    <a href="{{ href }}">
      <div class="feature__card-slide">
        <div class="feature__card-image">
          <img src="{{ src }}" alt="{{ title }}"/>
        </div>
      </div>
      <article class="feature__card-content">
        <h6 class="" tabindex="0" data-viewport="false">{{ tag }}</h6>
        <div class="feature__card-description">
          <h5 class="" tabindex="0" data-viewport="false">
            {{ title }}
          </h5>
          <p>
            {{ summary }}
          </p>
        </div>
        <span class="cta__link cta--arrow">
          READ MORE
          <i></i>
        </span>
      </article>
    </a>
  </div>
</div>