<div class="cell footer-item">
    <button
            type="button"
            id="footer-item-{{ id }}"
            class="footer-heading desktop-event-none"
            tabindex="0"
            aria-controls="footer-panel-{{ id }}"
            aria-expanded="false"
    >
        {{ title }}
    </button>
    {% for title, href in pages.items() %}
        <div
                id="footer-panel-{{ loop.index }}"
                class="footer-panel desktop-visible"
                aria-label="footer-item-{{ loop.index }}"
                aria-hidden="false"
                role="region"
        >
            <a href="{{ href }}" title="{{ title }}">{{ title }}</a>
        </div>
    {% endfor %}
</div>