<!-- Disable data-viewport for the cell for Streamlit to render it -->
<div class="grid-x grid-margin-x">
  <div data-viewport="false" class="cell medium-{{ width }} image-reveal-card delay-2">
    <a href="{{ href }}">
      <div class="image-reveal-card__content">
        <div class="image">
          <img src="{{ src }}" alt="{{ src }}"/>
        </div>
        <h5 class="" tabindex="0" data-viewport="false">
          {{ summary }}
        </h5>
      </div>
      <span class="cta__link cta--arrow">
        READ MORE
        <i></i>
      </span>
    </a>
  </div>
</div>